body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    width: 80vw;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .description {
    padding: 10px;
    height: 200px;
    background-color: #f9f9f9;
    white-space: wrap; 
    overflow: scroll; 
    text-overflow: auto; 
  }
  